.form_container {
  display: flex;
  height: 100%;
}
.right_container {
  background-color: #faf8f1;
  width: 40%;
  padding-left: 20px;
  padding-right: 20px;
}
.left_container {
  color: bisque;
  width: 60%;
  height: 600px;
  padding: 10px;
  background-image: url(../Asset/sfh.jpg);
  background-size: cover;
}
form {
  display: flex;
  flex-direction: column;
}
.form_selects {
  display: flex;
  flex-direction: column;
  border: none;
}
