.navsection {
  background-color: white;
  height: 110px;
  margin-top: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 16px;
  z-index: 100;
  align-items: center;
  text-align: center;
}
.navbar.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 150px;
  height: 150px;
  margin-left: 10px;
}
.search {
  display: flex;
  border: 1px solid #cccccc;
  width: 500px;
}
.search input {
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 15px;
}
.search button {
  border: none;
  border-left: 1px solid #cccccc;
  width: 20%;
}
.login_btn {
  margin-left: 50px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  border: none;
  font-size: large;
  font-weight: 500;
  color: #144272;
  background-color: #ade792;
}
.signup_btn {
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  font-size: medium;
  font-weight: 400;
  color: #144272;
  background-color: #ade792;
  border: none;
  border-radius: 5px;
}
